<!DOCTYPE html>
<html>
  <head>
    <title>Lambda Invoker</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/photon.min.css" />
    <style>
      .string {
        color: green;
      }
      .number {
        color: darkorange;
      }
      .boolean {
        color: blue;
      }
      .null {
        color: magenta;
      }
      .key {
        color: red;
      }

      .modal {
        display: none;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
      }
      .modal .modal-body {
        background: white;
        position: relative;
        top: 20%;
        max-width: 600px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 8px;
      }
      .show {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="window">
      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
          <div class="btn-group">
            <select id="profileSelector" class="form-control">
              <option disabled selected value="-1">Select profile</option>
            </select>
          </div>
          <div class="btn-group" style="margin-left: 20px;">
            <span class="btn form-control" style="width: auto;margin-right: 2px;">Endpoint:</span>
            <input id="endpoint" class="form-control" type="text" placeholder="AUTO" style="width: 300px;">
          </div>

          <button id="newModal" class="btn btn-large btn-default pull-right">
            <span class="icon icon-plus"></span>
          </button>
        </div>
      </header>
      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">
            <nav id="functionNames" class="nav-group">
              <h5 class="nav-group-title">Saved</h5>
              
              <a
                class="nav-group-item"
                function-id="OrderRoutesOtherPayload"
                function-name="OrderRoute-dev-main"
                function-region="us-west-1"
                >OrderRoutes</a
              >
            </nav>
          </div>
          <div class="pane">
            <div id="noSelectedFunction" class="padded-more" style="display: flex; height: 100%; justify-content: center; align-items:center;">
              <h3>Select a function to invoke</h3>
            </div>
            <div id="withSelectedFunction" class="padded-more" style="display: none;">
              <form id="mainForm">
                <input id="selectedFunction" type="hidden" value="" />
                <div class="form-group">
                  <button
                    id="invoke"
                    type="button"
                    class="btn btn-primary pull-right"
                  >
                    Invoke
                  </button>
                  <label>Payload</label>
                  <textarea
                    name="payload"
                    class="form-control"
                    rows="3"
                    style="resize: none"
                  ></textarea>
                </div>
                <div
                  class="form-group"
                  style="width: 50%; float: left; padding-right: 4px"
                >
                  <label>Invocation Type</label>
                  <select name="invocation-type" class="form-control">
                    <option value="RequestResponse">RequestResponse</option>
                    <option value="Event">Event</option>
                    <option value="DryRun">DryRun</option>
                  </select>
                </div>
                <div
                  class="form-group"
                  style="width: 50%; float: left; padding-left: 4px"
                >
                  <label>Response Type</label>
                  <select
                    id="responseType"
                    name="responseType"
                    class="form-control"
                  >
                    <option value="json">JSON</option>
                    <option value="raw">Raw</option>
                  </select>
                </div>
                <div style="clear: both"></div>
              </form>
              <label>Response</label>
              <div
                style="
                  background: #333;
                  min-height: 60px;
                  color: white;
                  padding: 2px 8px;
                "
              >
                <pre
                  id="response"
                  style="
                    margin: 0;
                    white-space: pre-wrap;
                    user-select: text;
                    cursor: text;
                  "
                ></pre
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
        <span id="status" style="padding: 0 8px">Idle</span>
      </footer>
    </div>
    <div id="modal" class="modal">
      <div class="modal-body padded-more">
        <input id="modalFunctionId" type="hidden" value="" />
        <div class="form-group" style="width: 50%;float: left; padding-right: 4px">
          <label>Function Name</label>
          <input id="modalFunctionName" type="text" class="form-control"></input>
        </div>
        <div class="form-group" style="width: 50%;float: left; padding-left: 4px">
          <label>Function Region</label>
          <input id="modalFunctionRegion" type="text" class="form-control"></input>
        </div>
        <button
          id="deleteFunction"
          type="button"
          class="btn btn-warning"
        >
          Eliminar
        </button>
        <button
          id="saveFunction"
          type="button"
          class="btn btn-primary pull-right"
        >
          Guardar
        </button>
        <button
          id="closeModal"
          type="button"
          class="btn btn-default pull-right"
          style="margin-right: 8px"
        >
          Cerrar
        </button>
        <div style="clear: both"></div>
      </div>
    </div>
    <!-- Javascript -->
    <script src="renderer.js"></script>
  </body>
</html>
